#mainCtrlBox {
  display: flex;
  margin: 0;
  border-radius: 10px;
}

.background {
  background-color: #f2f2f2;
  justify-content: space-between;
  padding: 1.5rem;
}

.background-invisible {
  background-color: white;
  justify-content: flex-end;
  padding: 0;
}

.main-control {
  display: flex;
}

.main-control div {
  margin-right: .5rem;
}

.main-control > div:nth-child(1) {
   /*Output Type radio buttons*/
  width: 17%;
  
}

.main-control > div:nth-child(4) {
  /*Enter button*/
  align-self: center;
}

.hide-show-btn {
  border: none;
  background-color: transparent;
}


/* reduce gap between top-selection & bottom-selection*/
.selectize-control.single.plugin-selectize-plugin-a11y {
  margin-bottom: 0;
  padding-bottom: 0;
}

.form-group.shiny-input-container {
  margin-bottom: 0;
}
/**/

.visual-section {
  margin-top: 3rem;
}

.remove-margin {
  margin-top: 0;
}
